
<h1> @ViewBag.title</h1>

<button class="btn btn-info btn-lg" role="button">View Loads by: </button><br />


@*@foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {

        <a asp-controller="@action.Key" class="btn btn-info btn-lg" role="button">@action.Value</a>

    }*@

<a asp-controller="List" class="btn btn-info btn-lg" role="button">List</a>
<a asp-controller="Search" class="btn btn-info btn-lg " role="button">Search<span class="glyphicon glyphicon-search"></span></a>
