@model SaafiSystems.ViewModels.AddLoadViewModel

<div class="page-header" style="background:white">
    <h1 style=" font-size: 21px;color: #0b131d; font-weight: 400;font-size: 21px;margin-top: 20px;margin-bottom: 10px;font-family: inherit;font-weight: 400;line-height: 1.1;color: inherit;margin: .67em 0; font-size: 2em; box-sizing: border-box;display: block;font-size: 2em; font-weight: bold;">
        Add Trip
        <a asp-controller="LoadCategory" asp-action="Add" class="hidden-xs btn btn-primary pull-right">+ Add Category</a> <a asp-controller="LoadCategory" asp-action="Add" class="visible-xs-block mobile-add btn-block btn btn-success">+ Add Category</a>
        <a asp-controller="Load" asp-action="Add" class="hidden-xs btn btn-success pull-right">+ New Load Entry</a> <a asp-controller="Load" asp-action="Add" class="visible-xs-block mobile-add btn-block btn btn-success">+ New Load Entry</a>

    </h1>
</div>

<form asp-controller="Load" asp-action="Add" method="post">
    <table class="table table-striped " style="width: 100%; max-width: 100%; margin-bottom: 20px; background-color: transparent; border-spacing: 0; border-collapse: collapse; box-sizing: border-box; display: table;border-collapse: separate; border-spacing: 2px; border-color: grey; font-size: 14px; line-height: 1.42857143; text-align:center">


        <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">

            <tr style="display: table-row; vertical-align: inherit; border-color: inherit;">

                <td style="padding: 8px;line-height: 1.42857143;vertical-align: top; border-top: 1px solid #ddd;">
                    <div class="form-group">
                        <label asp-for="Reference"></label>
                        <input class="form-control" asp-for="Reference" />
                        <span asp-validation-for="Reference"></span>
                    </div>
                </td>
                <td style="padding: 8px;line-height: 1.42857143;vertical-align: top; border-top: 1px solid #ddd;">
                    <div class="form-group">
                        <label asp-for="Date"></label>
                        <input class="form-control " type="date" asp-for="Date" />
                        <span asp-validation-for="Date"></span>
                    </div>
                </td>
                <td style="padding: 8px;line-height: 1.42857143;vertical-align: top; border-top: 1px solid #ddd;">
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input class="form-control" asp-for="Description" />
                        <span asp-validation-for="Description"></span>
                    </div>

                </td>
                <td style="padding: 8px;line-height: 1.42857143;vertical-align: top; border-top: 1px solid #ddd;">
                    <div class="form-group">
                        <label asp-for="Owner"></label>
                        <input class="form-control" asp-for="Owner" />
                        <span asp-validation-for="Owner"></span>
                    </div>

                </td>
                <td style="padding: 8px;line-height: 1.42857143;vertical-align: top; border-top: 1px solid #ddd;">
                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input class="form-control" asp-for="Amount" />
                        <span asp-validation-for="Amount"></span>
                    </div>

                </td>
                <td style="padding: 8px;line-height: 1.42857143;vertical-align: top; border-top: 1px solid #ddd;">
                    <div class="form-group" style="text-align:center">
                        <label asp-for="LoadCategoryID" ></label>
                        <div class="col-md-10">
                            <select asp-for="LoadCategoryID" class="form-control" asp-items= "Model.LoadCategories">
                                <option value="">-- Select Category --</option>
                            </select>
                            <span asp-validation-for="LoadCategoryID" class="text-danger" />
                        </div>
                    </div>
                </td>

                
                <td><label style="color:azure">S</label><input type="submit" class="hidden-xs btn btn-success" value=" + Submit Entry" /></td>
            </tr>

        </tbody>

    </table>

</form>








   
    
    
   
   
