@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="border-bottom: 3px solid #e8e8e8; padding-bottom: 9px;
    margin: 40px 0 20px; display: block; color: #595952; font-size: 34px;
    line-height: 1.42857143; box-sizing: border-box;">
    All Reports
</div>
<strong style=" color: #0090df;color: #337ab7; text-decoration: none;background-color: transparent; box-sizing: border-box; color: -webkit-link;  cursor: auto; font-weight: bold;    font-weight: bold; font-size: 18px; line-height: 2;     box-sizing: border-box;">


    <a>
        Profit and Loss
    </a><br />
    <a>
        Expense Report
    </a><br />
    <a>
        Fuel Mileage
    </a><br />
    <a>
        IFTA Report
    </a><br />
</strong>